<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Art E-Commerce Platform</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/stylesheet.css">

</head>

<body>
    <header>
        <h1 class="text-center">
            Artnnection
        </h1>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Artists' Collections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>

    </header>

    <main class="container">
        <section class="cards">
            <div class="card one">
                <div class="card-body">
                    <h3 class="card-title text-center">My Profile</h3>
                    <p class="card-text text-center profile">
                        id
                        <br>
                        name
                        <br>
                        <a href=""> Email </a>
                        <br>
                    </p>
                </div>
            </div>
        </section>
        <br>

        <section>
            <h3 class="text-center">
                My Favorites!
            </h3>
            <!--Insert Handlebar-->
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <img src="..." class="card-img-top" alt="...">
                    <h5 class="card-title">
                        <!--Insert Piece Name-->Name
                    </h5>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select Buy Option</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <br>
                    <button class="homebutton"> <a href="#" class="card-link buy">Buy Me</a></button>
                </div>
            </div>
        </section>
        <br>
        <!-- Dynamically generated art section upon artist click-->
        <section class="cards">
            <div class="card one">
                <div class="card-body">
                    <h3 class="card-title text-center">Add Your Art</h3>
                    <form class="text-center">
                        <label for="lname">Your Id:</label>
                        <input type="text" id="artist_id" name="artistid"><br>
                        <label for="fname">Art title:</label>
                        <input type="text" id="art_name" name="artname"><br>
                        <label for="lname">Price:</label>
                        <input type="text" id="art_price" name="artprice"><br>
                        <label for="lname">Stock:</label>
                        <input type="text" id="stock" name="stock">
                    </form>
                </div>
            </div>
        </section>


    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

</body>

</html>