<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Art E-Commerce Platform</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/stylesheet.css">

</head>

<body>
    <header>
        <h1 class="text-center">
            Artnnection
        </h1>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Artists' Collections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Search</a>
            </li>
            {{#if logged_in}}
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="#">Log Out</a>
            </li>
            {{/if}}
        </ul>

    </header>

    <main class="container">
        <section class="cards">
            <div class="card one">
                <div class="card-body">
                    <h3 class="card-title text-center">Artists Collection</h3>
                    <p class="card-text">
                        Choose from one of our artists and see their wonderful collections.
                    </p>
                </div>
            </div>
        </section>
        <br>

        <section>
            <h3 class="text-center">
                Artists!
            </h3>
            <!--Dynamically generated artists-->
            <section class="d-flex flex row">
                <!--Insert Handlebar-->
                {{#each artists as |artist| }}
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <!--Insert Artist name-->
                            {{artist.name}}
                        </h5>
                        <h6 class="card-subtitle">
                            <a href="#">
                                <!--insert email-->
                                {{artist.email}}
                            </a>
                        </h6>
                        <button class="homebutton"> <a href="#" class="card-link">See My Pieces</a></button>
                    </div>
                </div>
                {{/each}}
            </section>
        </section>
        <br>
        <!-- Dynamically generated art section upon artist click-->

    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

</body>

</html>