<section class="cards">
    <div class="card one">
        <div class="card-body">
            <h5 class="card-title text-center">You have bought your cart! Check your email for confirmation</h5>
        </div>
    </div>
</section>